
body.body-qtf{
	background: url(../images/qtf-bg.png) repeat 0 0 #292b2e;
	color: #fff;

}


.headTop{
	background-color: #000;
	color: #fff;
	padding: 10px;
	overflow: hidden;
}

.headTop a{
	color: #fff;
	text-decoration: none;

}
.headTop{

}
.siteLogo, .mainNav{ float: left;}
.mainNav ul li{ float: left;}
.centerCont{ 
	max-width: 800px;
	margin: 0 auto;
}
.lbCont{ 
	max-width: 550px;
	margin: 0 auto;
}
.btnBasic{
	font: normal normal normal 11px/18px 'Helvetica Neue',Arial,sans-serif;
	color: #333;
	position: relative;
	background-color: #f8f8f8;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#dedede));
	background-image: -moz-linear-gradient(top,#fff,#dedede);
	background-image: -o-linear-gradient(top,#fff,#dedede);
	background-image: -ms-linear-gradient(top,#fff,#dedede);
	background-image: linear-gradient(top,#fff,#dedede);
	border: #ccc solid 1px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #333;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: pointer;
	height: 18px;
	max-width: 98%;
	overflow: hidden;
	padding: 3px 10px;
	text-decoration: none;
	top: -5px;
}
.btnMail{
	background-image: url(../images/mail_icon_16.png);
	background-repeat: no-repeat;
	background-position: 4px 2px;
	padding-left:28px;
}

/* home candidates' list */

.content .candidatesList li {
font-size: 13px;
list-style: none;
padding: 5px 3px;
margin: 0;
color: #777777;
width: 24%;
float: left;
text-align: center;
/* border-bottom: 1px solid #eee;
border: 1px solid red; */
}
.candidatesList li img{
	clear: both;
	display: block;
	margin: 0 auto;
	
}
.content .candidatesList{ 
	clear: both;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	z-index: 20;


}
.theBlackBox{
	background-color: rgba(48, 54, 56, 0.29);
	position: relative;
	margin: 0 25px;
	padding: 30px;
	border-top: 1px solid #808080;
	box-shadow: 0px 0px 10px #686C70 inset, 0px 0px 15px #000;
	-webkit-box-shadow: 0px 0px 10px #686C70 inset, 0px 0px 15px #000;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	/* background-image: url(../images/theman/strings.png); */
	background-repeat: no-repeat;
	background-position: 54% 0;


}
.theBlackBox:after{
	content: '';
	display: block;
	width: 120%;
	height: 143px;
	background: url(../images/theman/scissor_l.png) no-repeat right -15px, url(../images/theman/scissor_r.png) no-repeat left -15px transparent;
	position: absolute;
	bottom: -146px;
	margin: 0 auto;
	left: -10%;
}

.blacklist{position: relative;}
/*.manAbove{
	display: block;
	width: 100%;
	height: 136px;
	background: url(../images/theman/fred-strings.png) no-repeat 50% 0 transparent;
	position: relative;
	margin: 0 auto;
	z-index: 11;
	opacity: 0.6;
}*/

.theWhiteBox{
	background: #DBDBDB;
	position: relative;
	margin: 150px 25px;
	padding: 30px;
	box-shadow: 0px 0px 17px #fff inset, 0px 0px 15px #000
	-webkit-box-shadow: 0px 0px 17px #fff inset, 0px 0px 15px #000;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	border: 3px solid #A7A4A4;
	color: #000;


}
.cName{font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;}
.candidatesList .cName{ 
	color: #fff;
	font-size: 1.45em;
	text-decoration: none;
	line-height: 1.4em; 
	clear: both;
	display: block;
	
}
.ficha{
	background-color: #1E2224;
	max-width: 140px;
	margin: 0;
	padding: 10px 2px 5px;
}

.content .ficha img{border: none;}

.theWhiteBox .ficha{
	background-color: #d2d2d2;
	color: #000;
}	

.theWhiteBox .ficha a.cName{ 
	color: #000;
}

.content .theBlackBox hr{
	height: 10px;
	margin: 1em;
}

.content .theWhiteBox hr{
	margin: 1em;
	background-image: url(../images/rope-hr.png);
	background-position: center;
	height: 10px;
}
small.actionQTF, .actionQTF{ 
	line-height: 25px;
	color: rgb(255, 92, 0);
}

.innerficha{}
.introCandidate{
	margin-top: 35px;
	display: block;
	overflow: hidden;
	clear: both;
}

.actionLine{
	float: left;
	margin-left: 15px;
}

.cImage{ float: left;}
.well.companies h2{text-align: center;}
#discovery{display: none;}

.noResponseBand{position: relative;}
.noResponseBand:after{
	content: '';
	display: block;
	height: 125px;
	width: 100%;
	background: url(../images/no-responde.png) no-repeat transparent;
	position: absolute;
	top: 10px;
	left: -1px;
	background-position: center center;
}
