---
layout: base
title: "Quien te financia"
---
 <script>
        $(document).ready(function() {
            $('.fancybox').fancybox({
                padding : 0,

                prevEffect : 'none',
                nextEffect : 'none',
                closeBtn  : true,
                arrows    : true,

            });
        });
    </script>


<section class="content home blacklist">

  <div class="manAbove"> </div>
  <div class="theBlackBox">
    <h2 class="titleLine"> Hasta que no sepamos quién los financia nos gobierna un poder invisible</h2>
  <ul class="candidatesList">
   
      {% for post in site.posts %}
        {% if post.categories contains 'blacklist' %}
            <li>
              {% include ficha_home.html %}
            </li> 
           
        {% endif %}
      {% endfor %}
    
    {% for post in site.posts %}
      {% if post.categories contains 'whitelist' %}
          <li>
           {% include ficha_home.html %}
          </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
</section>

<section class="content theWhiteBox">
<a href="http://votainteligente.cl" target="_blank"><img src="images/banner-vota.jpg" /></a>
</section>