---
layout: base
title: "Quien te financia"
---
 <script>
        $(document).ready(function() {
            $('.fancybox').fancybox({
                padding : 0,

                prevEffect : 'none',
                nextEffect : 'none',
                closeBtn  : true,
                arrows    : true,

            });
        });
    </script>
<h2> Hasta que no sepamos quién los financia nos gobierna un poder invisible<h2>

<section class="content home blacklist">
  <div class="manAbove"> </div>
  <div class="theBlackBox">
  <ul class="candidatesList">
   
      {% for post in site.posts %}
        {% if post.categories contains 'blacklist' %}
            <li>
              {% include ficha_home.html %}
            </li> 
           
        {% endif %}
      {% endfor %}
    
  </ul>
   <ul class="candidatesList">
    {% for post in site.posts %}
      {% if post.categories contains 'whitelist' %}
          <li>
           {% include ficha_home.html %}
          </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
</section>