<!--declare-->
{% if page.responde_financiamiento == 'y' %}
<div class="well companies">

	<h2> Origen del financiamiento de su campaña</h3>
	"  {{ page.qtf_empresas }}  "
</div>
{% endif %}


{% if page.responde_gasto == 'y' %}

	<h2> Gastos declarados </h3>
	<div class="tagline"> al {{ page.fecha_rendicion }}</div>

	<table class="table table-striped table-bordered table-declare">
		<tr>
			<td class="spendItem">Sueldos:</td>
			<td>{{ page.g_sueldos}} </td>
		</tr>
		<tr>
			<td class="spendItem">Publicidad:</td>
			<td>{{ page.g_publicidad}}</td>
		</tr>
		<tr>
			<td class="spendItem">Transporte:</td>
			<td>{{ page.g_transporte}}</td>
		</tr>
		<tr>
			<td class="spendItem">Inmuebles:</td>
			<td>{{ page.g_inmuebles}}</td>
		</tr>
		<tr>
			<td class="spendItem total">Gasto total:</td>
			<td class="total">{{ page.g_total }}</td>
		</tr>

	</table>
	** OTROS** {{ page.g_otros }}


{% endif %}
{% if page.responde_gasto == 'n' %}

<div class="well">
	<h3>El candidato no ha transparentado sus gastos de campaña<h3>
</div>	
{% endif %}
	





