<div class="innerficha">

   
 <div class="introCandidate"> 
    <img class="cImage" src="{{ page.featured-image }}" /> 
    <div class="actionLine">
      <h1> {{ page.title }} </h1>
       <!--WHITE LIST-->

      {% if page.categories contains 'whitelist' %}

        {% if page.star != null  %}
        <strong>Declaración destacada:</strong><br />
          {{ page.star }}
        {% endif %}
        <br />
        Nos ha enviado las siguientes respuestas:
        <br />
        <strong>
           Comparte su declaración
        </strong>
        <br />
        <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="{{ site.twitter }}" data-text="Esta es la transparencia de @{{page.c_twitter}} {{ site.url }} {{site.hashtag}}" ></a>

      {% endif %}

        <!--BLACK LIST-->

       
    </div>
  </div>  
</div>

   
