<div class="ficha">
  <a class="fancybox fancybox.iframe cName" data-fancybox-group="candidatos-b" href="{{ BASE_PATH }}{{ page.url }}">
     {{ page.title }}
    <img src="{{ page.featured-image }}" />
   
  </a>
     {% if page.categories contains 'whitelist' %}
         <small> Comparte su compromiso </small><br/>
          <!-- Twitter -->
          <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="{{ site.twitter }}" data-text="Mira el compromiso de @{{page.c_twitter}} por la transparencia de financiamiento de campañas {{ site.url }}{{ page.url }}" ></a>
      {% endif %}   

      {% if page.categories contains 'blacklist' %}
          
          <small class="actionQTF">
              ¡Dime quién te financia!
          </small>
           <!-- Twitter -->

          <span class="oneAction">
            <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="{{ site.twitter }}" data-text="Yo no quiero que me gobierne el poder invisible. @{{page.c_twitter}} comprométete con la transparencia {{ site.url }}" ></a>
          </span>
          
          <!-- Mail -->

          <span class="oneAction ">
            <a class="btnBasic btnMail"href="mailto:{{ page.public-email }}&bcc=montselobos@gmail.com&subject={{ page.title}} Responde quién te financia  &body=Como ciudadanos nos preocupa la falta de transparencia en el financiamiento de campañas políticas, no queremos ser gobernados por un poder invisible. Queremos saber quién financia tu campaña. Fomenta una política más transparente y una democracia de calidad respondiendo el cuestionario que Ciudadano Inteligente ha enviado a tu comando" title="[GMCP] Compose a new mail to {{ page.public-email }} " class="custom-link" onclick="window.open('https://mail.google.com/mail/u/0/?view=cm&amp;fs=1&amp;tf=1&amp;to={{ page.public-email }}','Compose new message','width=640,height=480');return false" rel="noreferrer">
             Mail
            </a>
          </span>
      {% endif %}   
</div>

   
